body {
  margin: 0;
  box-sizing:border-box;
  padding: 0;
}

.top-pane{
  background-color: #292d34;
}

.pane{
  height: 50vh;
  display: flex;
}

.editor{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  background-color: #292d34;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #21222C;
  color: #8965C5;
  margin-top: .5rem;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.editor.collapsed {
  flex-grow: 0;
}
.editor.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.CodeMirror {
  height: 100% !important;
}

.code-editor {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}